body {
  background: linear-gradient(90deg, rgba(81,50,73,1) 0%, rgba(146,110,129,1) 50%, rgba(81,50,73,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}